button{
    border:none;
    background-color: rgba(28,28,28,0);
    outline: none;
    cursor: pointer;
}

.actions{
   float: right;
}

.actions form{
 display: inline-block;
}

caption{
caption-side: top;
}

.centered{
  float: none;
  margin: 50px auto;
}

.blockCenter{
    text-align: center;
    margin-top:30px;
    margin-bottom:30px;
}

.col-md-6, .col-md-12{
  border: 1px solid #c5c5c5;
  border-radius:8px;
  background-color: white;
  padding-right: 40px;
  padding-left: 40px;
}

body{
  background-color: #f2f2f2;
}

.navbar-collapse{
    flex-grow: unset;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown:hover button span {
  color: #01a2f5;
}

.captions div{
float:left;
width:50%;
}

#captionLeft{
    text-align: left;
}

#captionRight{
    text-align: right;
}