button{
    border:none;
    background-color: rgba(28,28,28,0);
}

.actions{
   float: right;
}

.actions form{
 display: inline-block;
}

caption{
caption-side: top;
}

.centered{
  float: none;
  margin: 100px auto;
}

.blockCenter{
    text-align: center;
    margin-top:30px;
    margin-bottom:30px;

}

.col-md-6{
  border: 1px solid #c5c5c5;
  border-radius:8px;
  background-color: white;
  padding-right: 40px;
  padding-left: 40px;
}

body{
  background-color: #f2f2f2;
}