<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Table fields</title>

    <!-- See configuration in WebMvConfig.java -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<th:block th:include="/_title"></th:block>
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-6 centered">
                <br>
                    <h4>Edit Profile</h4>
                <form th:action="@{/save}" th:object="${user}" method="POST">
                    <input type="hidden" th:field="*{id}"/>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example4">First Name</label>
                        <input type="text" id="form3Example4" class="form-control"
                               th:field="*{firstname}" required/>
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example5">Last Name</label>
                        <input type="text" id="form3Example5" class="form-control"
                               th:field="*{lastname}"/>
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example1">Email<span style="color:#ff0000">*</span></label>
                        <input type="email" id="form3Example1" class="form-control"
                               th:field="*{username}" required/>
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example6">Phone Number</label>
                        <input type="tel" id="form3Example6" class="form-control"
                               th:field="*{phone}"/>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mb-4">SAVE</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>