<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="UTF-8">
    <title>Title</title>

    <!-- See configuration in WebMvConfig.java -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script th:src="@{/jquery/jquery.min.js}"></script>
    <script th:src="@{/popper/popper.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-6 centered">
                <div class="blockCenter">
                    <img class="logo" th:src="@{/image/logo.png}"
                         width="200" height="50"
                    />
                    <h4>Log In</h4>
                </div>
                <div th:if="${param.error}" class="alert alert-error">
                    Неправильные имя и пароль.
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                    You have been logged out.
                </div>
                <form th:action="@{/process-login}" method="POST">

                    <div class="form-outline mb-4">
                        <input type="text" class="form-control" id="username" name="username" placeholder="Email"/>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="password"
                               class="form-control" id="password" name="password" placeholder="Password"/>
                    </div>

                    <div class="row mb-4">
                        <div class="col d-flex justify-content-center">
                            <!-- Checkbox -->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="form2Example31"
                                       checked/>
                                <label class="form-check-label" for="form2Example31"> Remember me </label>
                            </div>
                        </div>

                        <div class="col">
                            <!-- Simple link -->
                            <a href="#!">Forgot your password?</a>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block mb-4">LOG IN</button>
            <div class="text-center">
                <p>Don't have account? <a href="/registration/">Sign Up</a></p>
            </div>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>